 <!-- Jumbotron -->
 <div ng-controller="MainController">
      <div class="jumbotron">
        <h1>Questionnaire Builder!!</h1>
        <p class="lead">Questionnaire builder is a simple tool which make it easier for you to create a questionnaire with simple drag and drop. All you need is to signup for free to enjoy the services. You are able to see the responses and export them to Excel , Csv , and Text files</p>
        <p><a class="btn btn-lg btn-success"  role="button" ng-click="MainController.start()">Get started today</a></p>
      </div>

     

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 Company, EverestMinds.</p>
      </footer>

    </div> <!-- /container -->
</div>