<!-- <div>
<h1>welcome {{SPusername}} </h1>
 <h1>heey</h1>
<div ng-show="MainController.isST">
	<h2>Click here to view your profile </h2>
 <li><a href= "#/studentprofile" ng-click="MainController.viewStudentProfile()"> <button b >My Profile </button> </a></li>
</div>
</div> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div ng-controller="MainController">
	


    <div id="input" class="row">
              <div class="col-lg-12">
                  <h3>Edit mode</h3>
                  <p> (1)You can drag any field from the right and drop it on the plain form on the left.<br> (2)You can reorder your elements.<br>(3) To edit the element just press on it and a popup will appear.<br>(4) You can divide this questionnaire into sections by adding label element and specifing the section name and its description.
                  </p>
              </div>
          </div>
          <!-- /.row -->
          <hr>

          <!-- Page Features -->
          <div class="row text-center">

              <div class="col-md-20 col-sm-20 hero-feature">
                    <ng-form-builder output="output" ></ng-form-builder>
                   
                    <br>
                    <br>


              </div>

 <div id="output" class="row" ng-controller="MainController">
              <div class="col-lg-40">
                  <h3>View Mode</h3>
                  <p>This is the final form that the users will see.<br>
                  Press <b>Continue</b> to generate the form
                  </p>
              </div>
          </div>
          <hr>
          <div class="row text-center">

              <div class="col-md-12 col-sm-12 hero-feature">
                    <ng-form-reader input="output" data="data"></ng-form-reader>
              </div>


          </div>
<br>
  <button class="btn btn-success btn-lg" ng-click="MainController.click(output)">Continue</button>




 </div>
<!-- <div class=""><div class="form-group"><label for="" class="col-sm-4 control-label">title</label><div class="col-sm-8"><input type="text" disabled="disabled" class="form-control" placeholder="placeholder"><p class="help-block">description</p></div></div></div>, -->